
<!DOCTYPE html>
<html lang="en">
       
<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" >
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styleprofessor.css' %}">

</head>
<body>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="https://asktabby.files.wordpress.com/2013/03/wpid-photo-mar-6-2013-1015-pm.jpg" class="img-responsive rounded-circle" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{nome}}
                        </div>
                        <div class="profile-usertitle-job">
                            Developer
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">Follow</button>
                        <button type="button" class="btn btn-danger btn-sm">Message</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks </a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="box-part text-center cards">
                                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Instagram</h4>
                                </div>
                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                                </div>
                                <a href="#" class="a-link">Learn More</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="box-part text-center cards" >
                                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Twitter</h4>
                                </div>
                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                                </div>
                                <a href="#" class="a-link">Learn More</a>
                            </div>
                        </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="box-part text-center cards">
                                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Facebook</h4>
                                </div>
                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                                </div>
                                <a href="#" class="a-link">Learn More</a>
                            </div>
                        </div>	 
                        
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="box-part text-center cards">
                                <i class="fa fa-pinterest-p fa-3x" aria-hidden="true "></i>
                                <div class="title">
                                    <h4>Pinterest</h4>
                                </div>
                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                                </div>
                                <a href="#" class="a-link">Learn More</a>
                            </div>
                        </div>	 
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="box-part text-center cards">
                                <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Google</h4>
                                </div>
                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                                </div>
                                <a href="#" class="a-link">Learn More</a>
                            </div>
                        </div>	 
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                            <div class="box-part text-center cards">
                                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Github</h4>
                                </div>
                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                                </div>
                                <a href="#" class="a-link">Learn More</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>
</html>
